

<ul>
  <li><a href="/apartments">All Apartments</a></li>
  <li><a href="/apartments/3">All Sample Apartment</a></li>
  <li><a href="/apartments/new">Add new Apartment</a></li>
  <li><a href="/apartments/3/tenants">Tenants for Sample Apartment</a></li>  
  <li><a href="/apartments/add_tenant">Add new Tenant</a></li>
</ul>
