<h2>All Apartments</h2>
<h3>Please click on a link view that apartments details</h3>

<ul>
  <li><a href="/apartments/1">Apartment 1</a></li>
  <li><a href="/apartments/2">Apartment 2</a></li>
  <li><a href="/apartments/3">Apartment 3</a></li>
  <li><a href="/apartments/4">Apartment 4</a></li>
  <li><a href="/apartments/5">Apartment 5</a></li>
</ul>
 <!-- need to make each li into an anchor and be able to add an incremental href? -->
